@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background-color: white;
    --text-color: black;
  }
  
  [data-theme='dark'] {
    --background-color: #1a1a1a; /* Dark background */
    --text-color: white; /* Light text */
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }